<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <paygreenpayment>
                <model>Paygreen\Payment\Model\PaygreenPayment</model>
                <active>1</active>
            </paygreenpayment>
        </payment>
    </default>
</config>