<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="paygreen_fetch_parameters" xsi:type="object">Paygreen\Payment\Console\Command\FetchParametersCommand</item>
                <item name="paygreen_fetch_services" xsi:type="object">Paygreen\Payment\Console\Command\FetchServicesCommand</item>
                <item name="paygreen_test" xsi:type="object">Paygreen\Payment\Console\Command\TestCommand</item>
                <item name="paygreen_create_buttons" xsi:type="object">Paygreen\Payment\Console\Command\CreateTestButtonsCommand</item>
                <item name="paygreen_create_order" xsi:type="object">Paygreen\Payment\Console\Command\CreateTestOrderCommand</item>
                <item name="paygreen_send_ipn" xsi:type="object">Paygreen\Payment\Console\Command\SendIPNCommand</item>
                <item name="paygreen_test_ipn" xsi:type="object">Paygreen\Payment\Console\Command\TestIPNCommand</item>
            </argument>
        </arguments>
    </type>
</config>
